<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="home.css"></link>
<title th:text="${titlehome}"></title>
</head>
<body>
<header>
	<ul>
	<li><p th:text="${mensaje}" class="tex"></p>
	<li><a href="producto" id="enla" >Productos</a>
	<li><a href="InicioSesion" id="enla" >Iniciar Sesion</a>
	<li><a href="Registro" id="enla" >Registrarse</a>
	</ul>
</header>	

	<div id="medio">
	<p th:text="${mensaje}" class="tex2"></p>
	<p th:text="${mensaje}" class="tex2"></p>
	<a href="" class="enla2">Enlace4</a>
	</div>
	<img th:src="@{/images/design.png}" width="400" height="400">
	
	<div id="inferior">
	<h3 th:text="${product}"></h3>
	<table>
		<tr th:each="produc :${menaj}" >
			
			<th th:text="${produc.getNombre}"></th>
			<th th:text="-----"></th>
			<th th:text="${produc.getPrecio}"></th>
		</tr>
	</table>
	</div>
	
	</table> 
	
</body>
</html>