@charset "UTF-8";

.super {
	text-align: right;
	padding: 20px;
	border-radius: 20px;
/*	border-style: solid; */
	border-width: 75px;	 
}
#enla {
	margin-top: 60px;
	font-size: 20px;
	background-color:  #ffdb4d;
	border-radius: 5px;
	background-size: 400px;
}

li{
	display: inline;
	text-align: right;
}

a{
	text-decoration: none;
	color: black;
	padding: 14px 15px;
}

ul{
	text-align: right;
	
}

img {
	padding-left: 80px;
	position:  relative;
}

.tex {
	font-size: 20px;
} 

#medio {
	
	text-align:right;
	border: 9px;
	padding: 50px 20px; 
	padding-left: 10;
	
	bottom: 5px;
	right: 5px;
	
}



.tex2 {
	font-size: 50px;
}

.enla2 {
	font-size: 30px;
}

#inferior {
	
	position: static;
	bottom: 50px;
	font-size: 50px;
	padding: 75px 75px; 
	margin-left: 30px;
	
}








	
